//====== start about =========================================
.about {
	padding: rem(38) 0 rem(70) 0; // добавим к общему отступу page rem(38), т.к здесь отступ больше
	//background-color: #ebf7d0; // не забыть убрать
	justify-content: center;
	@media (max-width: $mobile) {
		padding: 0 0 rem(60) 0;	// что-то не так
	}//
	@media (max-width: $mobile) {
		padding: rem(30) 0 rem(50) 0;
	}
	// .about__container
	&__container {
		display: flex;	
		@media (max-width: $mobile) {
			flex-direction: column-reverse;	
			text-align: center;	
		}
	}
	// .about__content
	&__content {		
		align-items: flex-start; //отступ заголовка, чуть ниже уровня фото	
		@include adaptiveValue("padding-right", 110, 50);
		@media (max-width: $mobile) {
			padding-right: 0;
			margin: 0 auto;
		}	
		flex: 1 1 auto; //разрешаем уменьшаться/увеличиваться тексту в случае, если убрать картинку
		*:last-child { // убираем нижний отступ у последнего элемента, неважно какой тег он имеет
			margin-bottom: rem(0);
		}
	}
	// .about__title
	&__title {
		@include adaptiveValue("margin-bottom", 25, 20);

	}
	// .about__text
	&__text {		
		@include adaptiveValue("margin-bottom", 35, 25);
		@media (max-width:$mobile){
			padding: 0 rem(15); 
		}
	}
	// .about__btn
	&__btn { // на всякий случай, если кнопку переставить в другое место
		@include adaptiveValue("margin-bottom", 25, 20);
	}
	// .about__avatar
	&__image {
		margin-bottom: rem(35);
	}
	&__avatar {		
		flex: 0 0 rem(243); //запрещаем уменьшаться/увеличиваться и базовая ширина		
		height: rem(243);
		border-radius: 50%;
		box-shadow: rem(-5) rem(13) 0 0 #edf7fa; // тень вокруг фото
		img {
			max-width: 100%;			
		}
		@media (max-width: $mobile) {
			flex: 1 1 rem(200); 
			width: rem(200);
			height: rem(200);
			text-align: center; 
		}
		
	}
}
//====== finish about =========================================
//===============================================
//====== start posts =========================================
.posts {
	background: #EDF7FA;
	padding: rem(25) 0 rem(13) 0; // уменьшим на 17px items__column margin-bottom: rem(17);
	@media (max-width:$mobile){
		padding: rem(25) 0 rem(23) 0;
	}
	// .posts__container
	&__container {
	}
	// .posts__header
	&__header {
		display: flex;
		margin-bottom: rem(20);		
	}
	// .posts__title
	&__title {
		padding-right: rem(20); // на всякий случай, если заголовок будет большой
		flex: 1 1 auto; //почему- считает, что это лучше, чем justify-content: space-between; в header
		font-size: rem(22);
		@media (max-width:$mobile){
			padding-right: 0;  
		}
	}
	// .posts__view-all
	&__view-all {
		//white-space: nowrap; // на всякий случай? что не ломался текст
		flex: 0 0 auto; //альтернатива white-space: nowrap; запрещяем уменьшаться объекту
		font-size: rem(16);
		line-height: math.div(23, 16);
		color: #00a8cc;
		@media (max-width:$mobile){
			display: none; 
		}
	}
	// .posts__contents
	&__contents {
		//display: flex; // если использовать min-width:$mobile, можно перенести туда
		margin: 0 rem(-10);
		@media (min-width:$mobile){
			display: flex;
		}
	}
	// .posts__column
	&__column {
		flex: 0 1 50%;
		padding: 0 rem(10);
		margin-bottom: rem(17);
	}
	// .posts__content
	&__item {
	}
}

.content-posts {
	height: 100%; // чтобы колонки были одинаковые по высоте
	background-color: #fff;
	box-shadow: 0 rem(4) rem(10) rgba(187, 225, 250, 0.25);
	border-radius: rem(4);
	@include adaptiveValue("padding", 20, 15);
	*:last-child {// у любого последнего объекта отступ ноль
		margin-bottom: rem(0);
	}
	// .content-posts__title
	&__title {
		display: inline-block;
		color: inherit;
		@include adaptiveValue("font-size", 26, 22);
		font-weight: 700;
		line-height: math.div(38, 26);
		transition: color 0.3s ease 0s;
		@include adaptiveValue("margin-bottom", 17, 10);
		@media (min-width: $tablet) { // этот hover нужен на устройствах больше планшета
			&:hover {
				color: $Primary;
			}
		}	
	}
	// .content-posts__info
	&__info {
		@include adaptiveValue("margin-bottom", 15, 10);
		@include adaptiveValue("font-size", 18, 16);
		line-height: math.div(26, 18);
		span {
			margin: 0 rem(10);
		}
	}
	// .content-posts__text
	&__text {
		@include adaptiveValue("margin-bottom", 15, 10);
	}
}
//====== finish posts =========================================
//===============================================
//====== start works =========================================
.featured-works {
	padding: rem(30) 0 rem(80) 0;
	@media (max-width:$mobile){
		padding: rem(30) 0 rem(30) 0; 
	}
	// .featured-works__container
	&__container {
	}
	// .featured-works__title
	&__title {
		margin-bottom: rem(20);
	}
	// .featured-works__items
	&__items {
		@media (max-width:$mobile){
			display: flex; //чтобы остался один item
			overflow: auto; // появляется горизонтальная прокрутка на мобилках, чтобы листать item
			//чтобы остался один item
			.works__item {
				flex: 0 0 90%; 
				margin: 0 rem(15) 0 0;
			}
		}
	}
}
// все, что касается блока works расположено в файле works.scss,
// так как у нас есть отдельная страница works
//====== start works =========================================