.work-detail {
	max-width: rem(700);
	padding: 0 rem(10) rem(30);
	margin: 0 auto;
	// .work-detail__title
	&__title {
		@include adaptiveValue("font-size", 34, 30);
		font-weight: 700;
		line-height: math.div( 50, 34);
		margin-bottom: rem(30);
	}
	// .work-detail__info
	&__info {
		display: flex;
		margin-bottom: rem(20);
	}
	// .work-detail__year
	&__year {
		background: $Primary;
		border-radius: rem(16);
		height: rem(25);
		padding: 0 rem(10);
		font-size: rem(18);
		font-weight: 900;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
	}
	// .work-detail__category
	&__category {
		align-self: center;
		@include adaptiveValue("font-size", 20, 18);
		line-height: math.div( 25, 20);
		margin-left: rem(25);
	}
	// .work-detail__text
	&__text {
		p { // притянули стили из класса text
			@extend .text;
			margin-bottom: rem(20);
		}
		img {
			max-width: 100%;
			margin-bottom: rem(20);
		}

	}
	// .work-detail__image-ibg
	&__image-ibg {
	}
}

